:root {
  --footer-text-width: 500px;
  --footer-text-height: 30px;
}

.footer {
  background: #000;

  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 400px;
}

.footer div {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.6px;
  opacity: 0.5;
}

.footer .left_text {
  width: var(--footer-text-width);
  height: var(--footer-text-height);
  text-align: left;
}

.footer .center_image {
  width: 30px;
  height: var(--footer-text-height);
}

.footer .right_text {
  width: var(--footer-text-width);
  height: var(--footer-text-height);
  text-align: right;
}
