<div class="nowWatch">
  <div class="now_header">Сейчас смотрят:</div>
  <div class="films_slider">
    <div class="left_arrow">
      <img src="icons/left_arrow.svg" alt="" />
    </div>
    <div class="right_arrow">
      <img src="icons/right_arrow.svg" alt="" />
    </div>
  </div>
  <div class="film_name">Неудержимые 4</div>
</div>